body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 20px; */
    /* gap: 20px; */
    font-family: Arial, sans-serif;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    transition: 
        color 0.3s ease,
        background-image 0.3s ease;   
}

body.light-theme {
    background-image: url('./images/tennis-bg.jpg');
    color: black;
}

body.dark-theme {
    background-image: url('./images/tennis-bg-dark.jpg');
    color: white;
}

p {
    line-height: 28px;
}

li {
    line-height: 20px;
}

.webpage {
    display: block;
}

.navbar-div {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    padding: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.light-theme .navbar {
    background-color: #3287ffce;
}

.dark-theme .navbar {
    background-color: #001d46ce;
}

.navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.navbar li {
    display: inline;
}

.navbar a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 16px 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar a:visited {
    color: white
}

.navbar a:hover {
    text-decoration: none;
    background-color: #003fb591;
}

.theme-toggle {
    position: absolute;
    right: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.page-contents {
    display: flex;
}

.tennis-player-containter {
    flex: 1;
    max-width: 300px;
}

.tennis-player-containter img {
    width: 100%;
    height: auto;
}

.page-info {
    flex: 2;
    max-width: 1000px;
    padding: 20px 40px;    
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.light-theme .page-info{
    background-color: rgba(255, 249, 241, 0.804);
}

.dark-theme .page-info{
    background-color: rgba(20, 20, 20, 0.804);
}

.page-info-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
    padding-top: 0px;
    transition: border-bottom 0.3s ease;
}

.light-theme .page-info-header {
    border-bottom: #0057e7 8px dotted;
}

.dark-theme .page-info-header {
    border-bottom: #539bff 8px dotted;
}

.page-info-header img {
    height: 150px;
    width: auto;
    margin-right: 20px;
}

.page-info-header h1 {
    font-size: 2rem;
    margin: 0;
}

.page-info-header h3 {
    font-size: 1.2rem;
    margin: 5px 0;
    font-weight: normal;
}

.header-components {
    display :block; 
    text-align: left; 
    padding-left: 3px;
}

.header-components button {
    margin: 0px;
    margin-top: 5px;
}

h1, h2, h3, h4 {
    margin: 10px 0;
}

ul {
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
}

.event-list li {
    margin-bottom: 14px;
}

.event-list li::marker {
    color: #4b87ff;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.light-theme button {
    background-color: #4b87ffd4;
}

.dark-theme button {
    background-color: #003683ce;
}

button:hover {
    background-color: #0040b5;
}

a {
    margin-top: 10px;
    color: #0057e7;
    text-decoration: none;
}

a:link {
    color: #0057e7;
}

a:visited {
    color: #cfe1ff
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0c367a;;
}